# EditorConfig is awesome: http://editorconfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = false

[*.{html,js,scss}]
charset = utf-8
indent_style = space
indent_size = 2

[*.{md,markdown,yml}]
indent_style = space
indent_size = 2
